doctype
html
  head
    title Client Calibration
  body(onload="init()")
    script(src="/socket.io/socket.io.js")
    script(src="AudioContextMonkeyPatch.js")
    script(src="calibration.js")
    p
      | Active 
      input(id="active", onchange="updateClientParams()", type="checkbox", value="0")
    p
      | Delay 
      input(id="delay", onchange="updateClientParams()", type="number", value="0", min="0", max="1000", step="10")
      |  milliseconds
   p
      | Gain 
      input(id="gain", onchange="updateClientParams()", type="number", value="0", min="-30", max="30", step="1")
      |  dB
